<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.1</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.2</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.3.BINOP</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.4.UNOP</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.5.BUILT.IN</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>AVM.PROLOGUE</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>BELOW.THE.BASEMENT</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>CHAR</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>COMMANDS</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>COPY</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>COPY.ASM</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>DISK</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>DOS</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>DOS.ASM</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>GRAPHICS</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>INVENTORY</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>IO</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>MAIN</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>MODULES</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>MON.EQ</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.0</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.1</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.2</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.3</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.4</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.5</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>OBJECTS.COMMON</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>PARSING</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>PRINT.WORDS</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>PRINT.WORDS.ASM</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>ROOMS.0</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>ROOMS.1</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>ROOMS.2</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>ROOMS.3</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>ROOMS.COMMON</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>STATE</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>STRING</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>STRING.ASM</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
	<dict>
		<key>DOSFileType</key>
		<integer>73</integer>
		<key>Filename</key>
		<string>VERBS</string>
		<key>MacFormat</key>
		<integer>0</integer>
		<key>StartingAddress</key>
		<integer>8192</integer>
		<key>Valid</key>
		<true/>
		<key>Verified</key>
		<true/>
	</dict>
</array>
</plist>
